body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100vh;

}

.container {
  max-width: 70%;
  margin: 50px auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 20px 10px;
  
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(104, 129, 164);
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.increment-btn {
  background: rgb(98, 210, 244);
  border: 1px solid black;
  margin-right: 10px;
}

.save-el {
  color: black;
  background:rgba(255, 255, 255, 0.263);
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
}

.save-btn {
  background: rgb(111, 140, 233);
  border: 1px solid black;
}

.reset-btn {
  margin-top: 20px;
  background: rgb(104, 129, 164);
  border: 1px solid black;
}

